# Ignore all unused code and miscellaneous files and directories
_unused/
lib/_unused/
lib/Braintell
lib/Broad\ Institute
lib/COMP_GEOM_TLBX
lib/Linnarsson
lib/Nature
MATLAB/
*.asv
data/.DS_Store/
data/Mouse_Neurons/.DS_Store/
output/~$branch_statistics_per_branch__20230928140567.xlsx
output/~$branch_statistics_per_neuron__20230928140567.xlsx
output/.DS_Store
data/Mouse_Neurons/.DS_Store
data/.DS_Store
